@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
reset values
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
li{
    list-style-type: none;
}
a{
    text-decoration: none;
    color:black;
}
.nav-container{
    background-color: rgb(21, 190, 196);
    height: 15vh;
    box-shadow: 0px 0px 17px 7px black;
}
nav{
    /*background-color: red;*/
    width:95%;
    margin: auto;
    height: 100%;
    display: flex;
    justify-content: space-between;
}
.logo{
    height: 13vh;
   margin-top: 0vh;
   margin-bottom: 3vh;;
   transform: translateY(10%);
}
.logo img{
    height: 100%;
    clip-path: circle(50%);
}
.nav-links{
    display:flex;
    align-items: center;
    justify-content: space-around;
    /*background-color: #fff;*/
    width: 40%;
}
.nav-links li a:hover{
    color:white;
}
.nav-links li:hover
{
    transform:scale(1.4);
    transition:transform 0.6s;
}
.arrow
{
    height: 5.5vh;
    width:30%;
    
   transform:translateY(70%);
   display: none;
}
.line1,.line2,.line3
{
    height: 25%;
    width: 40%;
    margin-top: 2px;
    background-color: white;
    border-radius: 4px;
}
/*.line2{
    background-color: white;
}
.line3{
    background-color: rgb(19, 226, 81);
}*/
@media screen and (max-width: 840px){
    .nav-links{
        width:60%;
    }
}
@media screen and (max-width:574px){
    .nav-links{
       /* display: none;*/
       position:fixed;
       top: 15vh;
       right: 0;
       background-color: rgba(136, 212, 226, 0.979);
       flex-direction: column;
       height: 85vh;
       width: 80%;
       transform: translateX(100%);
       transition: transform 0.6s;
    }
    .arrow{
        display:block;
    }
}
.display{
    transform: translateX(0%);
}  
.toggle1{
    transform: rotate(45deg) translate(9px,7px);
    transition: transform 0.6s;
}
.toggle2{
    display: none;
}
.toggle3{
    transform:rotate(-45deg);
    transition: transform 0.6s;
}

    
